body {
	color: rgb(200,200,200);
	background-color: rgb(50,50,50);
	
}

ul {

    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;

}

li {
	float: left;
}

li a{
	display: block;
	color: black;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}

li a:hover{
	background-color: #111;
	color: white;
}
